/* === LAYOUT GERAL === */
body {
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.block-container {
    padding-top: 1rem;
}

/* === CARDS DE MÉTRICAS === */
.metric-card {
    background-color: var(--card-bg);
    color: var(--card-text);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
    margin-bottom: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.metric-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

/* === BOTÃO DE TEMA === */
.stButton button {
    background-color: #0077B6;
    color: white;
    padding: 0.4em 1em;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.8em;
}

/* === TÍTULOS === */
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

/* === SIDEBAR === */
[data-testid="stSidebar"] {
    background-color: #f5f5f5; /* cinza claro */
    color: #000000;
}



/* === ROLAGEM === */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
